
<div class="jumbotron jumbotron-fluid">
  <div class="banner-index d-flex justify-content-center align-items-center flex-column" style="height: 400px;">
    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerSubtitleIndex">Cities You've Visted</h2>
    </div>
  </div>
</div>

<div class="city-container d-flex justify-content-center align-items-center flex-wrap">
    <% @cities.each do|city| %>
      <div class="card d-flex justify-content-center align-items-center flex-wrap" style="width: 18rem;">
         <h5 class="card-title">City: <%= link_to city.name, city_path(city) %></h5>
         <h6 class="card-subtitle mb-2 text-muted">Country: <%= city.country %></h6>
         <h6 class="p text-muted">Continent: <%= city.continent %></h6>
         <h6 class="p text-muted">Parks: <%= city.park_name %></h6>
         <h6 class="p text-muted">Coffee Shops: <%= city.coffeeshop_name %></h6>
         <h6 class="p text-muted">Restaurants: <%= city.restaurant_name %></h6>
         <h6 class="p text-muted">Neighborhoods: <%= city.neighborhood_name %></h6>
         </div>
               <% end %>

  </div>

<div class="index-btns d-flex justify-content-center align-items-center flex-wrap">
  <div>
     <%= link_to root_path, class: "btn btn-warning btn-lg btn-home" do %>
      Home
    <% end %>
  </div>
  <div>
    <%= link_to "cities/new", class: "btn btn-warning btn-lg btn-add-cities" do %>
      Add City
    <% end %>
  </div>
</div>
